@import "../../variables.scss";

.app-logo {
  color: $logo-color;
  font-weight: 600;
  display: flex;

  .app-logo-selector {
    display: inline-block;
    cursor: pointer;
  }

  .app-logo-dropdown {
    display: inline-block;
    position: absolute;
    left: $content-horizontal-padding - $header-spacing;
    top: $header-height;
    z-index: 1000;
    background: $header-background-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: scaleY(0);
    transition: all 0.2s linear;
    transform-origin: 0 0;

    &.opened {
      transform: scaleY(1);
      transition: all 0.1s ease;
    }

    .app-logo-links {
      display: flex;
      flex-flow: column nowrap;

      a {
        padding: 0 40px;
        color: $font-color-light;
        text-decoration: none;
        background-size: 1000px !important;
        background: $color-dark-gradient;
        transition: background-position 80ms linear;

        &:hover {
          background-position: -500px;
          transition: background-position 80ms linear;
        }

        svg {
          margin-right: 15px;
        }
      }
    }
  }
}

@keyframes expand {
  0% {
    transform: translate(0, 0) scale(1, 1);
  }
  100% {
    transform: translate(500px, 250px) scale(5, 5);
  }
}
