@import "../../../variables.scss";

.marker-popup {
  input[type="text"] {
    width: 100%;
  }

  .marker-popup-readonly {
    font-size: 14px;
  }

  .leaflet-popup-close-button {
    margin: 15px 20px 0 0 !important;
    font-size: 24px !important;
  }

  .marker-checkbox {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
  }

  .marker-notes {
    margin-top: 15px;
    white-space: pre-line;

    textarea {
      resize: none;
    }
  }

  .marker-popup-body {
    margin-top: 19px;
    margin-bottom: 15px;

    .marker-select-container {
      margin-top: -3px;
      margin-bottom: 15px;
      padding-right: 30px;
      display: flex;

      .marker-select {
        display: flex;
        justify-content: space-around;
        flex: 1;
        font-size: 24px;

        .arrow {
          cursor: pointer;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }

        .switch {
          flex: 0 0 32px;
          text-align: center;
        }
      }
    }
  }

  .marker-popup-coords {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;

    div:not(:last-of-type) {
      padding-right: 5px;
    }

    input {
      width: 100%;
    }
  }

  .marker-buttons {
    white-space: nowrap;
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 10px;

    button {
      width: 80px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
