@import "../../../variables.scss";

.leaflet-popup-content-wrapper {
  border-radius: 2px !important;
}

.marker-popup {
  input[type="text"] {
    width: 100%;
  }

  .marker-popup-readonly {
    strong {
      padding-right: 25px;
    }

    font-size: 14px;
  }

  .leaflet-popup-close-button {
    display: none;
  }

  .marker-details {
    display: flex;
    align-items: center;

    .marker-select {
      cursor: pointer;
      margin-right: 2px;
      margin-left: 2px;
      flex: 0 0 30px;
      font-size: 24px;
    }
  }

  .marker-checkbox-container {
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
  }

  .marker-checkbox {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1;
  }

  .marker-notes {
    margin-top: 10px;
    white-space: pre-line;

    textarea {
      resize: none;
    }
  }

  .marker-popup-body {
    margin-top: 19px;
    margin-bottom: 15px;
  }

  .marker-popup-coords {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;

    div {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }

  .marker-buttons {
    white-space: nowrap;
    display: flex;
    justify-content: right;
    margin-top: 10px;

    button {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
