@import "../../../variables.scss";

.marker-popup {
  .leaflet-popup-close-button {
    padding: 8px 8px 0 0 !important;
    font-size: 24px !important;
  }

  .marker-popup-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .marker-checkbox {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .marker-creator {
    margin-bottom: 20px;
  }

  .marker-popup-body {
    margin-bottom: 20px;
    display: flex;

    .marker-select {
      display: flex;
      justify-content: space-around;
      flex: 1;
      font-size: 24px;

      .arrow {
        cursor: pointer;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .switch {
        flex: 0 0 32px;
        text-align: center;
      }
    }
  }

  .marker-popup-coords {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;

    input {
      width: 100%;
    }
  }

  .marker-buttons {
    white-space: nowrap;
    display: flex;
    justify-content: right;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 10px;

    button {
      width: 80px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
