@import "../../../variables.scss";

.zooming {
  .map-marker.map-cursor {
    transition: none;
  }
}

.map-marker.map-cursor {
  opacity: 0.75;

  &.primary {
    opacity: 1;

    .map-cursor-icon {
      font-size: 1.3em;

      path {
        stroke: $primary-cursor-color;
      }
    }

    .map-marker-name {
      text-shadow: 0 0 3px $primary-cursor-color, 0 0 3px $primary-cursor-color,
        0 0 3px $primary-cursor-color, 0 0 3px $primary-cursor-color,
        0 0 3px $primary-cursor-color, 0 0 3px $primary-cursor-color,
        0 0 3px $primary-cursor-color, 0 0 3px $primary-cursor-color,
        0 0 3px $primary-cursor-color, 0 0 3px $primary-cursor-color,
        0 0 3px $primary-cursor-color, 2px 2px 8px #000000;
    }
  }

  transition: all 0.8s linear;

  .map-cursor-icon {
    font-size: 1.2em;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

    path {
      stroke: $marker-highlight-color;
      stroke-width: 60px;
    }
  }
}
