@import "../../variables.scss";

.app-header {
  background: $header-background-color;
  margin: 0 auto;
  height: $header-height;
  line-height: $header-height;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;

  .app-header-left {
    flex-grow: 1;
  }

  .app-header-right {
    align-self: flex-end;
  }
}
