@import "./variables.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nowrap {
  white-space: nowrap;
}

.leaflet-container {
  height: 100%;
}

.app-header {
  padding-left: $content-horizontal-padding;
  padding-right: $content-horizontal-padding;
}

.app-body {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-logo {
  font-size: $logo-font-size;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 13px;
  font-family: $font-family;
  border: 2px solid $color-light;
  border-radius: 2px;
  padding: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 10px;
}

.leaflet-container {
  font-family: $font-family;
}

.leaflet-image-layer {
  filter: drop-shadow(15px 15px 50px black);
}

.leaflet-control-attribution {
  background: transparent !important;

  a {
    color: $font-color-light !important;
    opacity: 0.4;
  }
}

@media only screen and (max-width: $breakpoint-1),
  only screen and (max-height: $breakpoint-1) {
  .app-header {
    padding-left: $content-horizontal-padding / 2;
    padding-right: $content-horizontal-padding / 2;
  }

  .app-logo {
    font-size: $logo-font-size - 10px;
  }
}

@media only screen and (max-width: $breakpoint-2),
  only screen and (max-height: $breakpoint-2) {
  .app-header {
    padding-left: $content-horizontal-padding / 4;
    padding-right: $content-horizontal-padding / 4;
  }
}

@media only screen and (max-width: $breakpoint-3),
  only screen and (max-height: $breakpoint-3) {
  .app-logo {
    font-size: $logo-font-size - 20px;
  }
}

// TODO: do this without needing !important
@media only screen and (max-height: $breakpoint-1) {
  .app-header {
    height: $header-height - 20px !important;
    line-height: $header-height - 20px !important;
  }

  .app-body,
  .app-logo-dropdown {
    top: $header-height - 20px !important;
  }
}

#root {
  height: 100%;
}
