@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./variables.scss";
@import "./lib/leaflet-overrides.scss";
@import "./lib/drop-shadows.scss";
@import "./lib/hacks.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nowrap {
  white-space: nowrap;
}

.leaflet-container {
  height: 100%;
}

.app-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-logo {
  font-size: $logo-font-size;
}

input[type="text"],
input[type="number"] {
  height: 32px;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 14px;
  font-family: $font-family;
  background: rgb(226, 232, 240);
  border-radius: 2px;
  padding: 0.5rem;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 8px;
}

.leaflet-container {
  font-family: $font-family;
}

.leaflet-image-layer {
  filter: drop-shadow(15px 15px 50px black);
}

.leaflet-control-attribution {
  background: transparent !important;

  a {
    color: $font-color-light !important;
    opacity: 0.4;
  }
}

#root {
  height: 100%;
}

button {
  position: relative;
  overflow: hidden;
}

button::after {
  content: "";
  position: absolute;
  top: -60px;
  bottom: -60px;
  left: -20px;
  right: -20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0.1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.25s;
}

button:hover::after {
  transform: scale(1);
  opacity: 1;
}
