@import "../../../variables.scss";

.map-marker {
  background: none;
  border: none;
  text-align: center;

  .map-marker-icon {
    font-size: 32px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

    path {
      stroke: #eeeeee;
      stroke-width: 35px;
    }
  }

  .map-marker-name {
    font-size: 1.1em;
    text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff,
      0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff,
      0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff, 0 0 3px #ffffff,
      2px 2px 8px #000000;
    text-align: center;
    font-weight: 700;
    width: 100px;
    margin-left: -35px;
    display: inline-block;
  }

  .map-marker-private {
    position: absolute;
    right: -0;
    bottom: -0;
    font-size: 1.1em;

    path {
      stroke: #eeeeee;
      stroke-width: 45px;
    }
  }
}
