@import "../../../variables.scss";

.map-marker {
  background: none;
  border: none;
  text-align: center;
  font-family: "Andada Pro", serif;

  &:hover {
    .map-marker-name {
      transition: font-size 0.1s ease-out;
      font-size: 1.25em;
    }
  }

  .map-marker-icon {
    filter: drop-shadow(0 0 1px $marker-highlight-color)
      drop-shadow(0 0 1px $marker-highlight-color)
      drop-shadow(0 0 1px $marker-highlight-color)
      drop-shadow(0 0 2px $marker-highlight-color);

    path {
      stroke: black;
      stroke-width: 16px;
    }
  }

  .map-marker-name {
    transition: font-size 0.1s ease-out;
    font-size: 1.1em;
    text-shadow: 0 0 3px $marker-highlight-color,
      0 0 3px $marker-highlight-color, 0 0 3px $marker-highlight-color,
      0 0 3px $marker-highlight-color, 0 0 3px $marker-highlight-color,
      0 0 3px $marker-highlight-color, 0 0 3px $marker-highlight-color,
      0 0 3px $marker-highlight-color, 0 0 3px $marker-highlight-color,
      0 0 3px $marker-highlight-color, 0 0 3px $marker-highlight-color,
      2px 2px 8px #000000;
    text-align: center;
    font-weight: 700;
    width: 140px;
    margin-left: -55px;
    display: inline-block;
  }

  .map-marker-private {
    margin-right: 3px;

    path {
      stroke: $marker-highlight-color;
      stroke-width: 45px;
    }
  }
}

.map-marker-circle {
  transition: fill-opacity 0.1s ease-out;

  &.hover {
    transition: fill-opacity 0.1s ease-out;
    fill-opacity: 0.3;
    stroke-width: 4;
  }
}
